name: Flutter Test Runner
on: push
jobs:
  main:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        
      - name: Setup java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: "18.x"
          
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Get Flutter packages
        run: |
          flutter pub get

      - name: Generate riverpod providers
        run: dart run build_runner build --delete-conflicting-outputs
        
      - name: Run Tests
        run: |
          flutter test
