name: Flutter Static Analysis
on:
  pull_request:
    types:
      - opened
    branches-ignore:
      - main
jobs:
  main:
    runs-on: macos-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Setup java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: "18.x"
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: Get Flutter packages
        run: |
          flutter pub get

      - name: Generate rivepord providers
        run: dart run build_runner build
        
      - name: Check for lints
        run: |
          flutter analyze
